.earnings_form {
    background: white;
    height: 50vh;
    text-align: center;
    width: 20%;
    margin-left: 35vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
}

.earnings_form label {
    display: block;
    line-height: 1.5em;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1.25rem;
}

.earnings_form h2 {
    text-transform: uppercase;
}

.earnings_form input {
    border: 2px solid black;
}
